# Apache configuration
/sites-available/000-default.conf

# Files in var/html apache
/webserverdata/projects/*
!/webserverdata/projects/index.php
/youtubedownloader

# Data base volumes
/bddata
/bdimport/*
!/bdimport/baseToImport.sql